@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url("Background.jpg") no-repeat;

}

/*my work */


.formwrapper {
    margin: 0em 0em 30em 35em;
    border-radius: 5px 20px;
    padding: 25px;
    width: 420px;
    position: relative;
    min-height: 540px;
    max-height: 670px;
    background: linear-gradient(to right, #a73737, #7a2828);
    color: black;
}

.log-in-form>a {
    text-decoration: none;
}

input[type=text] {
    border-radius: 3px;
    ;
}

.log-in-form>.textinput {
    display: relative;
    margin-left: 3em;
    padding: 10 em;
    height: 50%;
    width: 50%;
    font-size: 15px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 2px black;
    border-radius: 4px;
}

.log-in-form>label {
    text-indent: 30px;

    height: 20px;
}

.log-in-form>label :hover {
    transition: all 0.2s ease-out;
}

.log-in-form {
    position: center;

}

#afront {
    font-family:'Poppins', sans-serif;
    font-weight: 10px;
    font-size: 40px;
    position: relative;
    top: -30px;
}

.front {
    font-family: 'Poppins', sans-serif;
    font-weight: 5px;
    font-size: 30px;
}



.closebtn {
    position: relative;
    top: -20px;
    right: -360px;
    margin: 0px;
    font-size: 1.5rem;
}

.closebtn:hover {
    cursor: pointer;
    color: #f9423D;
    transition: 0.2s ease-out
}

.subbutton {
    position: relative;
    right: 5px;
    margin-top: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /*font-family:royal;
  font-size:20px;*/
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border: 1px solid;
    outline: none;
    border-radius: 17px;
    background: linear-gradient(to right, #a73737, #7a2828);
    transition: all 0.9s ease;
}

.subbutton:hover {
    background: linear-gradient(to right, #c55858, #ac3b3b);
    transition: all 0.5s ease;
    cursor: pointer;
}

.msg {
    font-size: 0.7 rem;
    margin-top: 10px;
    margin-bottom: 0px;
    display: none;

}

.atbottom {
    text-indent: 10px;

    font-family: 'Poppins', sans-serif;
    font-weight: 20px;
    font-size: 20px;
}

.box {
    position: relative;
    left: 160px;
    bottom: 33px;
}

.forgot {
    position: relative;
    bottom: -30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(252, 166, 54);
    margin-left: 5em;
}

/*my work*/